@import '../variables/colors';
@import '../variables/font';

.banner {
    width: 100%;
    height: 600px;
    background: radial-gradient(circle at 30% 30%,
            #4fd6a1 0%,
            #3a9cc0 25%,
            #4e53d4 60%,
            #1f2b9b 85%,
            #0f2763 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .terminal {
        height: 400px;
        width: 100%;
        backdrop-filter: blur(8px);
        background: rgba(11, 29, 46, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.05);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 0.5rem;
        border-radius: 1rem;
        box-shadow: 0 6px 8px 0 #0000006c;

        .pic-container {
            width: 45%;

            img {
                background-image: center/cover;
                width: 9rem;
                height: 9rem;
            }
        }



        .terminal-text {
            width: 55%;
            color: #4fd6a1;
            font-size: 0.7rem;
            font-weight: 600;
            line-height: 1.5;

            p {
                margin: 0.5rem 0;
            }

            .cursor {
                display: inline-block;
                width: 10px;
                height: 1.2em;
                background: #4fd6a1;
                margin-left: 4px;
                vertical-align: text-bottom;
                animation: blink 1s step-end infinite;
            }

            @keyframes blink {

                0%,
                100% {
                    opacity: 1;
                }

                50% {
                    opacity: 0;
                }
            }
        }
    }

    .cta-group {

        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .btn {
            cursor: pointer;
            padding: 0.8rem 1.5rem;
            background: $btn;
            color: white;
            font-weight: 600;
            border: 1px solid $green;
            border-radius: 0.5rem;
            text-decoration: none;
            transition: background 0.3s ease;

            &:hover {
                background: $green;
                color: #fff;
            }
        }

    }
}

#about{
    line-height: 1.8;
}



#preview_services {
    
        h2{
            text-align: center;
            margin-bottom: 2rem;
        }

    .card_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        width: 100%;


        .card {

            background-color: $transparent;
            border-radius: 1rem;
            width: 100%;
            min-height: 600px;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;


            .img_wrapper {
                width: 100%;
                height: 230px;
                border-radius: 1rem;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem 1rem 0 0;
                }
            }

            .card_content {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                h3 {
                    margin-top: 0;
                    font-size: 1.5rem;
                    text-align: center;
                }

                p {
                    margin: 1rem auto;
                    font-size: 0.8rem;
                }


            }

        }
    }

}

#preview_abilities {

    h2{
        text-align: center;
        margin: 3rem 0;
    }

    .card_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;


        .card {

            background-color: $transparent;
            border-radius: 1rem;
            width: 100%;
            min-height: 380px;

            .card_content {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                ul{
                    padding: 0;

                    li{
                        margin: 0.5rem 0;
                        font-size: 0.9rem;
                    }
                }

            }
        }

        .blue{
            border: 1px solid $blue;
        }

        .blue:hover{

            box-shadow: 10px 10px 20px 0 $blue;

            h3{
                color: $blue;
            }
        }

        .orange{

            border: 1px solid $orange;
        }

        .orange:hover{

            box-shadow: 10px 10px 20px 0 $orange;

            h3{
                color: $orange;
            }
        }

        .green{

            border: 1px solid $green;
        }

        .green:hover{

            box-shadow: 10px 10px 20px 0 $green;

            h3{
                color: $green;
            }
        }
    }

    .clotho{
        margin-top: 2rem;
        text-align: center;

        p {
            margin-bottom: 2rem;
        }

        a{
            margin: 2rem auto;
        }

        img{
            width: 100%;
            height: auto;
            margin-bottom: 2rem;
            border-radius: 1rem;
        }
    }

}

@media screen and (min-width: 768px) {

    .banner {
        .terminal {

            width: 80%;
            
            .pic-container {
                    width: 30%;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
    
                .terminal-text {
                    width: 70%;
                    font-size: 1rem;
                }
        }
    }

    #preview_services {

        .card_container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2rem;

            .card {
                width: 45%;
                height: 710px;
            }
        }
    }

    #preview_abilities {

        .card_container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2rem;

            .card {
                width: 30%;
                height: 350px;

                .card_content {
                    padding: 2rem;
                }
            }
        }

}

}

@media screen and (min-width: 1024px) {

    .banner {
        .terminal {
            width: 60%;
        }
    }


    #preview_services {

        .card_container {
            justify-content: space-evenly;

            .card {
                width: 35%;
                height: 710px;
            }
        }
    }

    #preview_abilities {

        .card_container {
            justify-content: space-evenly;

            .card {
                width: 30%;
                height: 350px;
            }
        }

        .clotho{
            margin: 4rem auto;

            p{
                margin-bottom: 3rem;
            }

            img{
                margin-bottom: 3rem;
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 1440px) {

    .banner {
        .terminal {
            width: 50%;

            .pic-container {
                    width: 25%;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
    
                .terminal-text {
                    width: 75%;
                    font-size: 1.2rem;
                }
        }
    }

    section {
         width: 1200px;
    }

    #preview_services {

        .card_container {
            justify-content: space-evenly;

            .card {
                width: 35%;
                height: 710px;
            }
        }
    }

    #preview_abilities {

        .card_container {
            justify-content: space-evenly;

            .card {
                width: 30%;
                height: 350px;
            }
        }
    }


}

